* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/Gotham-Black.otf);
}
@font-face {
  font-family: Myriad-Font;
  src: url(../fonts/Myriad-Font.ttf);
}
body {
  font-family: Gotham;
}

.container {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  overflow: hidden;
}

.header {
  background-image: url(../img/header/bckg_img.png);
  background-color: #222;
  height: 1000px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.header .header-line {
  border-bottom: 1px solid gray;
  width: 100%;
  opacity: 0.38;
}
.header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}
.header .text-menu {
  display: inline-block;
  padding: 0 10px 20px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-family: Myriad-Font;
}
.header .text-menu:hover {
  border-bottom: 1px solid #11749e;
}
.header .text-menu .text-menu-link {
  color: #ffffff;
}
.header .contact-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 5px;
}
.header .header-title-img {
  background-image: url("../img/");
}

.creatives .creatives__body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 1000px;
}
.creatives .creatives-title {
  font-size: 152.6px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: #f5f5f5;
}
.creatives .power-title {
  font-size: 24.8px;
  line-height: 51px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.74em;
  color: #11749e;
}

.creatives-animated {
  text-align: center;
}
.creatives-animated .scroll {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}
.creatives-animated .animate-circle {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin: 0 auto;
  position: relative;
  -webkit-animation: animated-circle 3s linear 0s infinite alternate none;
          animation: animated-circle 3s linear 0s infinite alternate none;
}
.creatives-animated .animate-circle:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.creatives-animated .animate-circle .animated-circle {
  font-family: "Font Awesome";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: #f5f5f5;
}

@-webkit-keyframes animated-circle {
  0% {
    top: 0;
  }
  100% {
    top: 200px;
  }
}

@keyframes animated-circle {
  0% {
    top: 0;
  }
  100% {
    top: 200px;
  }
}
.agency {
  background-color: #11749e;
  padding: 100px 0;
}
.agency .agency__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.agency .agency-title {
  font-size: 37.6px;
  line-height: 45px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  position: relative;
  margin: 0 0 70px;
}
.agency .agency-title::before {
  content: "W";
  opacity: 0.18;
  font-family: "Roboto Condensed";
  font-size: 247px;
  line-height: 210px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  top: -80px;
}
.agency .agency-item {
  width: 260px;
  text-align: center;
}
.agency .agency-item .agency-item-title {
  font-size: 18px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  margin: 10px 0;
}
.agency .agency-item .agency-item-text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #a7ccdb;
  text-align: left;
}
.agency .agency-item-imgs {
  border: 1px solid #2e85aa;
  width: 130px;
  height: 130px;
  background-color: #2e85aa;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.comments {
  background-color: #222222;
}
.comments .container {
  padding: 0;
}

.comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comments-item .comments-time {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bbb;
}
.comments-item .comments-title {
  font-size: 25px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}
.comments-item .comments-text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #bbb;
  margin: 0 0 10px;
}
.comments-item .comments-item-texts {
  margin: 0 0 0 50px;
}

.comments-item-last {
  background-color: #f3f3f3;
}
.comments-item-last .comments-text-last {
  color: #686868;
}
.comments-item-last .comments-title-last {
  color: #222;
}
.comments-item-last .comments-time-last {
  color: #686868;
}

.blog {
  margin: 90px 0;
}
.blog .blog-title {
  text-align: center;
}
.blog .blog-title-text {
  font-size: 37.6px;
  line-height: 45px;
  font-weight: 500;
  text-transform: uppercase;
  color: #222222;
  position: relative;
}
.blog .blog-title-text::before {
  content: "B";
  opacity: 0.18;
  font-family: "Roboto Condensed";
  font-size: 247px;
  line-height: 210px;
  font-weight: 700;
  color: #222222;
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  top: -80px;
}
.blog .blog-title-bot {
  font-size: 30.1px;
  line-height: 37px;
  font-weight: 400;
  color: #222222;
  margin: 100px 0 70px;
}
.blog .blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.blog .blog-item {
  width: 270px;
  text-align: center;
}
.blog .blog-item-title {
  font-size: 18px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #11749e;
  margin: 10px 0;
}
.blog .blog-item-text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #676767;
}

.bottom-comments {
  background-color: #11749e;
  padding: 90px 0 70px;
}
.bottom-comments .bot-comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 550px;
  margin: 0 0 20px;
}
.bottom-comments .bot-comments__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.bottom-comments .bot-comments-text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 20px;
}
.bottom-comments .bot-comments-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info {
  background-image: url(../img/info/background-info.png);
  background-color: #222;
  height: 870px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
}
.info .info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.info .info-item-title {
  font-size: 25px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}
.info .info-item-text {
  width: 450px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: gray;
  margin: 40px 0 50px;
}
.info .info-quality {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 19px;
  margin: 0 0 20px;
}
.info .info-quality-first {
  width: 370px;
  height: 38px;
  background-color: #11749e;
}
.info .info-quality-middle {
  width: 400px;
  height: 38px;
  background-color: #11749e;
}
.info .info-quality-last {
  width: 428px;
  height: 38px;
  background-color: #11749e;
}

.team {
  margin: 100px 0;
}
.team .team-title {
  text-align: center;
}
.team .team-title-text {
  font-size: 37.6px;
  line-height: 45px;
  font-weight: 500;
  text-transform: uppercase;
  color: #222222;
  position: relative;
}
.team .team-title-text::before {
  content: "T";
  opacity: 0.18;
  font-family: "Roboto Condensed";
  font-size: 247px;
  line-height: 210px;
  font-weight: 700;
  color: #222222;
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  top: -80px;
}
.team .team-bot-title {
  font-size: 30.1px;
  line-height: 37px;
  font-weight: 400;
  color: #222222;
  margin: 100px 0 60px;
}
.team .team__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.team .team-item {
  max-width: 270px;
}
.team .team-item-text {
  text-align: center;
  background-color: #fff;
  width: 216px;
  margin: 0 auto;
  position: relative;
  bottom: 40px;
}
.team .team-item-text .team-item-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #11749e;
  padding: 10px 0;
}
.team .team-item-text .team-item-bot-title {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
}

.contact {
  background-image: url(../img/contact/foolscrean.jpg);
  background-color: #222;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px 0 100px;
}
.contact .contact-title-text {
  text-align: center;
  font-size: 37px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  margin: 0 0 100px;
}
.contact .contact-title-text::before {
  content: "C";
  opacity: 0.18;
  font-family: "Roboto Condensed";
  font-size: 247px;
  line-height: 210px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  top: -90px;
}
.contact .contact-inputs {
  max-width: 1167px;
  margin: 0 auto;
}
.contact .contact-input {
  background-color: transparent;
  width: 370px;
  padding: 10px 0 10px 20px;
  border: 1px solid #ffffff;
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.contact .contacts-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}
.contact .message-input {
  background-color: rgba(128, 128, 128, 0);
  border: 1px solid #ffffff;
  width: 100%;
  padding: 15px 15px 130px;
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
  resize: none;
}
.contact .contact-message-input {
  text-align: center;
  margin: 30px 0 0;
}
.contact .contact-submit {
  text-align: center;
}
.contact .contact-submit-button {
  width: 227px;
  height: 64px;
  background-color: #11749e;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  margin: 20px 0 0;
}

.footer {
  background-color: #222222;
}
.footer .container {
  padding: 0;
}
.footer .footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: Roboto;
  font-size: 13px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 30px 0;
}

@media screen and (max-width: 1170px) {
  .contact .contacts-input {
    display: block;
  }
  .contact .contact-input {
    width: 100%;
    margin: 0 0 20px;
  }
  .contact .contact-input:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 1080px) {
  .comments-item {
    display: block;
    text-align: center;
  }
  .comments-item .comments-item-texts {
    margin: 0;
  }

  .comments-item-first {
    margin: 0 0 10px;
  }

  .comments-item-last {
    padding: 10px 0 0;
  }
}
@media screen and (max-width: 871px) {
  .creatives .power-title {
    font-size: 20px;
    text-align: center;
  }

  .info {
    height: 100%;
  }
  .info .info__body {
    display: block;
    text-align: center;
  }
  .info .phone-img-info {
    display: none;
  }
  .info .info-item-text {
    margin: 0 auto;
  }
  .info .info-quality {
    width: 100%;
    padding: 0;
  }
  .info .info-quality p {
    margin: 0 auto;
  }

  .team-item {
    margin: 0 10px;
  }

  .contact .contact-title-text {
    line-height: normal;
  }

  .creatives .creatives-title {
    font-size: 130px;
  }

  .comments-item-img {
    width: 100%;
  }
}
@media screen and (max-width: 775px) {
  .header .header-title-img {
    display: none;
  }
  .header .text-menu {
    padding: 0 10px;
  }
}
@media screen and (max-width: 705px) {
  .header {
    height: 600px;
  }
  .header .text-menu {
    padding: 0 10px;
    font-size: 15px;
  }

  .creatives .creatives-title {
    font-size: 100px;
    text-align: center;
  }
  .creatives .creatives__body {
    min-height: 100%;
  }
}
@media screen and (max-width: 601px) {
  .header .text-menu {
    padding: 0 5px;
  }
}
@media screen and (max-width: 545px) {
  .header .text-menu {
    font-size: 13px;
  }

  .creatives .creatives-title {
    font-size: 80px;
  }
}
@media screen and (max-width: 501px) {
  .header .text-menu {
    font-size: 12px;
    padding: 0 3px;
  }
  .header .header-menu {
    height: 50px;
  }
  .header .contact-link {
    margin: 0 1px;
  }

  .footer .footer__body {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 435px) {
  .contacts img {
    height: 13px;
  }
}
@media screen and (max-width: 415px) {
  .creatives .creatives-title {
    font-size: 60px;
  }
  .creatives .power-title {
    font-size: 15px;
  }

  .header .text-menu {
    font-size: 10px;
  }
  .header .header-menu {
    height: 50px;
  }
}
.menu-mobile {
  display: none;
}

@media screen and (max-width: 370px) {
  .menu-mobile {
    display: block;
  }

  .menu-text {
    display: none;
  }

  header {
    position: relative;
  }

  .menu-triger {
    display: block;
    width: 25px;
    height: 17px;
    background: url(https://snipp.ru/demo/449/menu.png) 0 0 repeat;
    position: absolute;
    left: 40px;
    top: 16px;
  }

  .menu-close {
    display: block;
    width: 28px;
    height: 28px;
    background: url(https://snipp.ru/demo/449/close.png) 0 0 repeat;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;
  }

  .menu-popup {
    display: none;
    background: #2c2e3e;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px;
    z-index: 9999;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .menu-popup ul {
    margin: 0;
    padding: 0;
  }

  .menu-popup li {
    list-style: none;
    margin: 10px 0;
    padding: 0;
  }

  .menu-popup li a {
    font-size: 18px;
    font-family: "Arial";
    color: white;
    line-height: 1.4;
    text-decoration: none;
  }

  .body_pointer * {
    cursor: pointer;
  }
}